* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.label {
    display: flex;
    align-items: center;
}

.input {
    margin-bottom: 10px;
}

.button {
    margin-left: 100px;
}

.spamchik {
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

.spamchik2 {
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

.spamchik3 {
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

.spamchik4 {
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

input:checked+.spamchik {
    width: 20px;
    height: 20px;
    background-image: url(./table-tennis.png);
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
}

input:checked+.spamchik2 {
    width: 20px;
    height: 20px;
    background-image: url(./basketball-ball.png);
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
}

input:checked+.spamchik3 {
    width: 20px;
    height: 20px;
    background-image: url(./volleyball-ball.png);
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
}

input:checked+.spamchik4 {
    width: 20px;
    height: 20px;
    background-image: url(./hockey-puck.png);
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}